<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:dist="http://schemas.android.com/apk/distribution"
    package="com.eungu.habittraining" >

    <dist:module dist:instant="true" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/icon"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/icon"
        android:supportsRtl="true"
        android:theme="@style/AppTheme" >
        <activity android:name=".ShowStartingPage">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".SettingNewGoal"></activity>
        <activity android:name=".MainActivity"></activity>
        <activity android:name=".SettingLevel"></activity>

        <meta-data android:name="unity.build-id" android:value="5cb08a86-9f4a-4279-bb47-0c2fe7c4286d" />
        <meta-data android:name="unity.splash-mode" android:value="0" />
        <meta-data android:name="unity.splash-enable" android:value="True" />
        <meta-data android:name="notch.config" android:value="portrait|landscape" />
    </application>

</manifest>